<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for using the best Flight Booker, <%= @user.name %></h1>
    <p>
      You have successfully booked a flight,
      your username is: <%= @user.login %>.<br>
    </p>
    <p>
      To see the booking, just follow this link: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>